@*@{ List<Restaurant_DB.Models.MenuItem> menuItem = (List<Restaurant_DB.Models.MenuItem>)ViewBag.MenuItem;
}
<h1>Order</h1>

<select id="coffee">
    <option hidden>Select Category</option>
    <option value="@menuItem[0].Category"></option>
    <option value="@menuItem[0].Category"></option>
    <option value="@menuItem[0].Category"></option>
    <option value="@menuItem[0].Category"></option>
    <option value="@menuItem[0].Category"></option>
</select>*@
